.about-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../images/backdrop/about.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about-description-container p {
  font-size: var(--font-lm);
  font-weight: var(--font-light);
  padding: 1em 0;
  line-height: 1.7;
}
.about-description-container {
  max-width: min(100%, 996px);
  align-self: flex-end;
  text-align: justify;
}

.about__container section h3 {
  font-size: var(--font-m);
  font-weight: var(--font-bold);
}
.video-container {
  display: grid;
  place-items: center;
  padding-bottom: 2em;
}

.audio-container,
audio {
  width: min(90%, 500px);
}
video {
  width: 80%;
  height: auto;
}

.video-feature-container {
  padding-block: 2em;
  background-image: url("../images/backdrop/features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
}

/* Feature */
.feature-wrapper {
  padding: 0 0 2em 0;
}
.features-contaier h2 {
  text-align: center;
}
.features-contaier ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.features-contaier ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.features-contaier ul li:last-child {
  width: calc(33% - 1rem);
  grid-column: 1 / span 3;
  justify-self: center;
}
.features-contaier ul li p {
  text-align: center;
}

.features-contaier h3 {
  color: var(--yellow-color);
  font-size: var(--font-m);
  font-weight: var(--font-bold);
}

.footer-nav {
  margin-top: 0;
}

@media screen and (max-width: 36em) {
  .features-contaier ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .features-contaier ul li:last-child {
    width: 100%;
    grid-column: 2 / span 1;
    justify-self: center;
  }
}
