footer {
  /* background-color: var(--light-black-color); */
  background-image: url("../images/backdrop/features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-copy-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  margin-top: 2em;
}

.title-copy-container > .footer__title-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__title-copyright > a {
  font-size: var(--font-l);
}

.footer__title-copyright > p {
  font-size: var(--font-lm);
}

.title-copy-container ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.title-copy-container ul li a {
  font-size: var(--font-s);
}

.title-copy-container a:hover {
  color: var(--yellow-color);
  text-decoration: underline;
}

.footer__socials {
  background-color: var(--yellow-color);
  padding: 0.25em 0;
}

.footer__socials > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.footer__socials > ul > li > a > img {
  width: 44px;
  height: 44px;
}
