.main-header__nav {
  backdrop-filter: blur(1em);
}
.main-header--home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-container {
  padding: 7em 2em;
}

.hero-container h1 {
  color: var(--yellow-color);
}
.hero-container p {
  padding: 0.5em 0em;
}
.hero-container form {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.hero-container input {
  flex: 0 0 75%;
}
.hero-container button {
  flex-grow: 1;
  text-align: center;
  font-weight: var(--font-med);
}
/* Movie scroller */
.movie-scroller {
  display: flex;
  gap: 5%;
  align-items: stretch;
  overflow-x: scroll;
  overflow-y: hidden;
}
.movie-scroller li {
  flex: 1 0 25%;
}
.movie-scroller li img {
  width: 100%;
  height: auto;
}

/* Table */

.home-table {
  max-width: min(980px, 90%);
  margin-inline: auto;
}
.home-table__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.home-table__container th {
  width: 100%;
  background-color: var(--yellow-color);
  color: var(--dark-black-color);
  padding: 0.5em 0;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

td {
  text-align: left;
}
td.td-number {
  border-right: 1px solid #ddd;
  text-align: center;
}
td.td-rating > span {
  background-color: var(--yellow-color);
  width: 80%;
  padding: 0.45em;
  border-radius: 5px;
  color: var(--dark-black-color);
  font-weight: var(--font-bold);
}

/* Movie list heading */

.movie-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-list-heading a {
  color: var(--yellow-color);
  transition: all 150ms ease;
}
.movie-list-heading a:focus,
.movie-list-heading a:hover {
  color: var(--white-color);
  text-decoration: underline;
}

@media screen and (max-width: 36em) {
  .home-table__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .movie-scroller li {
    flex: 1 0 40%;
  }
  .hero-container {
    padding: 7em 0.5em;
  }
}
