body > header {
  background-color: var(--dark-color);
  /* outline: 3px solid var(--yellow-color); */
}
.header__nav {
  max-width: min(1024px, 90%);
  margin-inline: auto;
  padding: 0.75em 0.7em;
  backdrop-filter: blur(1em);
}
.header__nav-home {
  background-color: var(--transparent-light-dark-color);
  border-radius: 0 0 20px 20px;
  outline: 3px solid var(--yellow-color);
}

.header__nav > div > a {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

.header__nav > div > a > span {
  color: var(--yellow-color);
}
.header__nav > div > div {
  display: none;
}
.header__nav > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list a {
  font-size: var(--font-s);
  font-weight: var(--font-med);
  position: relative;
}

.nav__list a::after {
  content: "";
  position: absolute;
  height: 30px;
  background-color: var(--yellow-color);
  width: 0;
  height: 2px;
  left: 0;
  bottom: -6px;
  transition: all 0.3s;
}

.nav__list a:hover {
  color: var(--yellow-color);
}

.nav__list a:hover::after {
  width: 100%;
}
.menu-btn-container {
  display: none;
}

@media (max-width: 700px) {
  .menu-btn-container {
    display: block;
    cursor: pointer;
  }

  .header__nav > div > div {
    display: flex;
  }

  button#bars {
    background: url("../images/bars.svg");
    width: 0.75rem;
    height: 0.75rem;
    background-repeat: no-repeat;
    border: 0;
  }
  .nav__list[data-visible="true"] {
    transform: translateY(0);
  }

  button#xmark {
    display: none;
    background: url("../images/xmark.svg");
    width: 0.75rem;
    height: 0.75rem;
    background-repeat: no-repeat;
    border: 0;
  }

  .nav__list {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5em 1.5em;
    background-color: var(--transparent-dark-color);
    outline: 3px solid var(--yellow-color);
    border-radius: 20px;
    width: 100%;
    left: 0;
    top: 14vh;
    gap: 2rem;
    background-color: var(--transparent-dark-color);
    /* backdrop-filter: blur(1em); */
    transform: translateY(-200%);
    transition: transform 0.3s;
    z-index: 1;
  }

  .nav__list > li {
    width: 100%;

    /* font-size: 1.25rem; */
  }

  .nav__list > li > a {
    font-size: var(--font-m);
    text-align: left;
  }
}
