@import url("./fonts.css");
:root {
  --dark-black-color: #0e1218;
  --dark-color: rgb(26, 25, 31);
  --yellow-color: hsl(41, 100%, 49%);
  --light-yellow-color: hsl(45, 37%, 25%);
  --light-black-color: hsl(255, 11%, 14%);
  --white-color: hsl(0, 0%, 100%);
  --red-color: hsl(360, 65%, 44%);
  --green-color: hsl(152, 63%, 43%);

  --font-bold: 700;
  --font-med: 500;
  --font-light: 400;

  --font-xl: 3rem;
  --font-l: 2rem;
  --font-m: 1.5rem;
  --font-lm: 1.25rem;
  --font-s: 1rem;
  --font-xs: 0.75rem;

  --primary-linear-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.9) 100%;
  );

  --transparent-light-dark-color: rgba(0, 0, 0, 0.3);
  --transparent-dark-color: rgba(0, 0, 0, 0.95);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 150ms ease; */
}

body {
  font-family: "Cera Round Pro", sans-serif;
  font-size: 2em;
  color: var(--white-color);
  background-color: var(--dark-black-color);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
}

p {
  font-size: var(--font-lm);
  font-weight: var(--font-mid);
}

h2 {
  font-weight: var(--font-med);
  font-size: var(--font-l);
}

h3 {
  font-size: var(--font-s);
  font-weight: var(--font-med);
}
th {
  font-size: var(--font-m);
  font-weight: var(--font-bold);
}
label {
  font-size: var(--font-lm);
  font-weight: var(--font-mid);
}

table {
  border-collapse: collapse;
}

tr {
  font-size: var(--font-s);
  font-weight: var(--font-med);
}

a:link,
a:visited {
  font-size: var(--font-s);
  font-weight: var(--font-med);
  text-decoration: none;
  color: inherit;
  transition: scale 150ms ease;
}

a:focus {
  scale: 1.01;
  /* border: 1px dashed cyan; */
}

button,
input,
textarea {
  all: unset;
  cursor: pointer;
  font-size: var(--font-s);
  font-weight: var(--font-mid);
  padding: 1em 0.75em;
  color: var(--dark-black-color);
  border-radius: 7px;
  transition: border-radius, scale 150ms ease;
}
button {
  border: 3px solid var(--yellow-color);
  color: var(--white-color);
  background-color: transparent;
  font-weight: var(--font-mid);
  transition: all 250ms ease-in-out;
}
button:hover,
button:focus {
  border-radius: 10px;
  background-color: var(--light-yellow-color);
}
input {
  background-color: var(--white-color);
  transition: all 250ms ease-in-out;
}
input:focus {
  scale: 1.01;
  outline: 3px solid var(--green-color);
}

img {
  display: block;
}

li {
  display: inherit;
  list-style: none;
}

.container {
  max-width: min(1024px, 90%);
  margin-inline: auto;
}

.red-border,
.yellow-border,
.green-border {
  font-size: var(--font-s);
  padding: 0.5em;
  border-radius: 50%;
}

.red-border {
  border: 2px solid var(--red-color);
}

.yellow-border {
  border: 2px solid var(--yellow-color);
}

.green-border {
  border: 2px solid var(--green-color);
}

/* width and height */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-black-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 10px;
}

@media (max-width: 48em) {
  :root {
    font-size: 87.5%;
  }
}

@media (max-width: 36em) {
  :root {
    font-size: 75%;
  }
}

/* Utility */
.none {
  display: none;
}
.pad {
  padding: 2em 0em 1em 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
