header {
  position: relative;
  z-index: 2;
}
main {
  position: relative;
  z-index: 1;
}
.movie-container button {
  padding: 1em 2.75em;
}
.movie-container h1 {
  font-weight: var(--font-med);
  font-size: var(--font-l);
  align-self: flex-start;
  /* margin-bottom: 1.5rem; */
}

.movie-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.movie-container__title {
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-container__title ul {
  flex: 0 0 30%;
  display: flex;
  /* justify-content: flex-end; */
  position: relative;
  z-index: 1;
  border: 1px solid var(--yellow-color);
  border-radius: 7px;
  /* padding: 0 0.5em 0 0; */
}

#toggler {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--yellow-color);
  z-index: -1;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.movie-container__title ul li {
  width: 50%;
}

.movie-container__title ul button {
  transition: all 150ms ease;
  padding: 0.75em;
  height: fit-content;
  border: 0;
  width: 100%;
  text-align: center;
}

.movie-container__title ul button:focus,
.movie-container__title ul button:hover {
  background: transparent;
}
